<div id="center_vertical"><div id="center"><h2>Sorry, you've been banned from that group.</h2>
<p>Join or create another group. And be nicer this time.</p>
<a href="/groups"><div id="green_button">all groups</div></a></div></div>