<% @users.each do |user| %>
  <p>
    <!-- TODO link to gravatar -->
    <!-- TODO instead of user.fname, link to @full_name method in helper later -->
    <%= link_to(image_tag(@avatar), user_path(user.id)) %>
    <%= link_to(user.full_name, user_path(user.id))%> 

  </p>
<% end %>