<h1 id="label">ABOUT</h1>
<p><strong>Work/Hang reconnects remote workers.</strong></p>
<p>The site was created as part of Omaha Code School's inaugural class by Johnathon Lueth, Michael Todd and Yofred Moik.</p>
<p>Questions? Send us an email.</p>
<div id="about_admin">
<a href="http://workhang.herokuapp.com/users/2"><img src="<%= Gravatar.new("ja.lueth@gmail.com").image_url + "?s=166" %>"></a>
<p><div id="green_button"><a href="mailto:ja.lueth@gmail.com">email Johnathon</a></div></p>
</div>
<div id="about_admin">
<a href="http://workhang.herokuapp.com/users/1"><img src="<%= Gravatar.new("mikejtodd@gmail.com").image_url + "?s=166" %>"></a>
<p><div id="green_button"><a href="mailto:mikejtodd@gmail.com">email Michael</a></div></p>
</div>
<div id="about_admin">
<a href="http://workhang.herokuapp.com/users/3"><img src="<%= Gravatar.new("ytmoik@gmail.com").image_url + "?s=166" %>"></a>
<p><div id="green_button"><a href="mailto:ytmoik@gmail.com">email Yofred</a></div></p>
</div>