<h1>ABOUT</h1>
<p><strong>Work/Hang reconnects remote workers.</strong></p>
<p>The site was created as part of Omaha Code School's inaugural class by Johnathon Lueth, Michael Todd and Yofred Moik.</p>
<p>Questions? Send us an email.</p>
<img src="<%= Gravatar.new("ja.lueth@gmail.com").image_url + "?s=155" %>"></a>
<img src="<%= Gravatar.new("mikejtodd@gmail.com").image_url + "?s=155" %>"></a>
<img src="<%= Gravatar.new("ytmoik@gmail.com").image_url + "?s=155" %>"></a>