<h1>ABOUT</h1>
<p><strong>Work/Hang reconnects remote workers.</strong></p>
<p>The site was created as part of Omaha Code School's inaugural class by Johnathon Lueth, Michael Todd and Yofred Moik.</p>
<p>Questions? Send us an email.</p>
<div id="about_admin">
<a href="mailto:ja.lueth@gmail.com"><img src="<%= Gravatar.new("ja.lueth@gmail.com").image_url + "?s=155" %>"></a>
<p><div id="green_button"><a href="mailto:ja.lueth@gmail.com">Johnathon Lueth</a></div></p>
</div>
<div id="about_admin">
<a href="mailto:mikejtodd@gmail.com"><img src="<%= Gravatar.new("mikejtodd@gmail.com").image_url + "?s=155" %>"></a>
<p><div id="green_button"><a href="mailto:mikejtodd@gmail.com">Michael Todd</a></div></p>
</div>
<div id="about_admin">
<a href="mailto:ytmoik@gmail.com"><img src="<%= Gravatar.new("ytmoik@gmail.com").image_url + "?s=155" %>"></a>
<p><div id="green_button"><a href="mailto:ytmoik@gmail.com">Yofred Moik</a></div></p>
</div>