<div id="center_vertical"><div id="logout"><h1 id="logout-message">Are you sure you want to log out?</h1>
<div id="green_button"><%= link_to("log out", login_path(current_user), :method => :delete) %></div></div></div>