/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

nav {
  background: #00957A;
}

#nav_container {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 800px;
}

footer {
  background: #00957A;
}

input {
  border-color: #00957A;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
}



#nav_links {
  margin-top: 25px;
  color: #ffffff;
}

.checkin_search {
  margin-left: 40px;
  margin-top: 7px;
  border-radius: 20px;
  padding: 10px;
}

#check_in_status {
  background: #C0C0C0;
  padding: 0px 3px 6px 15px;
  overflow: hidden;
  width: 202px;
  margin-left: 51px;
  float: left;
  display: inline;
  height: 21px;
}

#checkout_button:hover {
  opacity: 0.7;
}

p a:hover {
  opacity: 0.9;
}

#about_admin {
  display: inline-block;
  margin-right: 10px;
}

#checkout {
  margin-top: 24px;
}

#checkout_button {
  background: black;
  float: right;
  width: 21px;
  height: 22px;
  padding-left: 10px;
  color: #ffffff;
  padding-top: 5px;
  font-family: "helvetica";
  display: inline-block;
}

#check_in_status p {
  margin-top: 6px;
  font-size: 13px;
  font-family: "futura";
}

#settings_and_logout {
  margin-left: 30px;
  float: left;
  margin-top: 47px;
}

#nav_links li a:hover {
  opacity: 0.9;
}

#settings:hover {
  opacity: 0.9;
}

#logout:hover {
  opacity: 0.9;
}

#profpic {
  float: left;
  margin-top: 46px;
  margin-left: 34px;
}

#logout {
  margin-left: -17px;
}

.checkin_search input[type="submit"] {
  width: 40px;
}

#header_middle {
  float: left;
  margin-top: 20px;
  margin-right: 26px;
}

#nav_links li a {
  font-family: "futura-pt";
  color: #ffffff;
  text-decoration: none;
}

#logout {
  text-align: center;
}

#logout #green_button {
  margin-left: auto;
  margin-right: auto;
}

#nav_links li {
  display: inline;
  color: #ffffff;
  padding: 15px;
}

input[type="submit"] {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

#container {
  width: 885px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 5px;
}

#bottom {
  height: 70px;
}

#login {
  float:left;
  margin-left: 124px;
  margin-top: 72px;
}

#login input[type="submit"] {
  background: #C0C0C0;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 14px 5px 14px;
  margin-left: 10px;
  border-radius: 5px;
}

#green_avatar img {
  border: #00957A;
  border-width: 3px;
  border-style: solid;
}

#present_person h3 a {
  color: #00957A;
}

#gray_avatar img {
  border: #C0C0C0;
  border-width: 3px;
  border-style: solid;
}

h2 a {
  color: #00957A;
}

h2 a:hover {
  color: #878787;
}

#logo {
  margin-top: 20px;
  float: left;
}

p {
  font-family: "museo-slab";
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
}

h1 {
  font-family: "museo-slab";
  color: #878787;
}

h2 {
  font-family: "futura-pt";
  color: #00957A;
  font-size: 25px;
}

h3 {
  font-family: "futura-pt";
  font-size: 20px;
  color: #878787;
}

h4 {
  font-family: "museo-slab";
  color: #878787;
  font-size: 15px;
}

h3 strong {
  color: #00957A;
}

#green_button {
  background: #00957A;
  color: white;
  font-family: futura-pt;
  font-size: 21px;
  padding: 2px 10px 5px 10px;
  border-radius: 5px;
  width: 146px;
  text-align: center;
  display: block;
}

#green_button a{
  color: white;
}

#gray_button {
  background: #C0C0C0;
  color: white;
  font-family: futura-pt;
  font-size: 21px;
  padding: 2px 10px 5px 10px;
  border-radius: 5px;
  width: 146px;
  text-align: center;
  display: block;
}

#gray_button a{
  color: white;
}

#red_button {
  background: red;
  color: white;
  font-family: futura-pt;
  font-size: 21px;
  padding: 2px 10px 5px 10px;
  border-radius: 5px;
  width: 146px;
  text-align: center;
  display: block;
}

textarea {
  border-color: #00957A;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
}

#red_button a {
  color: white;
}

a {
  text-decoration: none;
  color: #00957A;
}

footer {
  color: #ffffff;
  padding-top: 13px;
  position: fixed;
  bottom: 0;
  height: 51px;
  margin-top: 30px;
  width: 100%;
  opacity: .9;
}

#center_vertical {
  margin-top: 160px;
  margin-bottom: auto;
}

#center_vertical #red_button {
  margin-left: auto;
  margin-right: auto;
}

#footer_container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#avatar {
  float: left;
  margin-right: 10px;
}

#rightcol_profile h1 {
  color: #00957A;
}

#label {
  margin-top: 0px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

#ocs {
  float: left;
}

#credit {
  margin-left: 30px;
  float: left;
  margin-top: -15px;
}

#green_avatar {
  display: inline;
}

#gray_avatar {
  display: inline;
}

#members {
  display: inline-block;
}