html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#body {
  width: 805px;
  margin-left: auto;
  margin-right: auto;
}

#search_place input[type="submit"] {
  margin-top: 20px;
  margin-left: 0px;
}

#checkin {
  display: inline-block;
}

#map {
  float: left;
  margin-right: 30px;
  width: 65%;
}

#checkins_home {
  height: 100%;
  overflow: scroll;
}

#checkins_avs {
  float: left;
  width: 25%;
}

#checkins_names {
  float: left;
  width: 70%;
  margin-left: 5px;
  margin-top: -19px;
}

#checkins_home h2 {
  font-size: 23px;
  margin-top: 0px;
}

#map-canvas {
  height: 350px;
}

#present_person {
  display: inline-block;
}

input[type="submit"] {
  background: #00957A;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 14px 5px 14px;
  border-radius: 5px;
}

#beers table{
  width:100%;
  float:left;
  text-align:center;
  font-family: "museo-slab";
  color: #878787;
  font-size: 15px;
}

#beers td{
  text-align:left;

}
#beers th{
  text-align:left;
}

#foods table{
  width:100%;
  text-align:center;
  float:left;
  font-family: "museo-slab";
  color: #878787;
  font-size: 15px;
}
#foods td{
   text-align:left;
}
#foods th{
 text-align:left;
}