<h1 id="label">PLACES WE'VE BEEN</h1>
<div id="map-canvas"></div>
<!--<%=  @places=Place.all %> -->
<div id="search_place">

<%= form_tag "/places/results" do %>
  <h3>Don't see your place? Add it here:</h3><input type="text" name="query" size="55"><input type ="submit" id ="green_button"><br>
<% end %>

</div>
<!-- > <%#= link_to("Don't see your place, add it here", place_path(@place.id)) %> -->

<!-- > <%#= link_to("Don't see your place, add it here", "/places/results/") %> -->